# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Python Version File
.python-version

# Jupyter Notebooks
.ipynb_checkpoints/

# Data
data/
*.csv

# Virtual Environment
venv/
env/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Jupyter Notebooks metadata
.nb_checkpoints/

# Other
.DS_Store
